* {
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 500px;
  margin: 0 auto;
}

.header {
  margin: 10% auto;
  text-align: center;
}

.header_title {
  font-weight: 100 !important;
  color: #212121;
}

.addtodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addtodo_input {
  flex: 2;
}

.todolist {
  margin: 10px 0;
}

.todolist_todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo_title {
  flex: 2;
}