* {
  font-family: 'Roboto', sans-serif;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.nav-menu_link {
  text-decoration: none!important;
  color: #212121;
}

.header {
  margin: 10% auto;
  text-align: center;
}

.header_title {
  font-weight: 100 !important;
  color: #212121;
}

.addtodo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addtodo_input {
  flex: 2;
}

.todolist {
  margin: 10px 0;
}

.todolist_notodos {
  display: block;
  margin: 50px auto;
  text-align: center;
  color: #9e9e9e;
}

.activeTodosCount {
  display: block;
  margin: 20px auto;
  text-align: center;
  color: #9E9E9E;
  font-weight: 300;
}

.loading {
  margin: 50px auto;
  text-align: center;
}

.todolist_todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo_title {
  flex: 2;
  cursor: pointer;
}

.todo_title__done {
  text-decoration: line-through;
}
